<!DOCTYPE html>
<html lang="en">
<head>
    <title>Getting Started: GetMapping</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
</head>
<body>
    <div>Welcome home, Master</div>
    <a href="/main">Main page</a>
</body>
</html>